<!DOCTYPE html>
<html>
<head>
    <title>编码规则</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-validator/css/bootstrap-validator.min.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">

</head>
<body>
<div id="rrapp" v-cloak class="container-fluid">
    <div v-show="showList">
        <div class="row">
            <div class="col-xs-2">
                <input type="text" class="form-control" v-model="params.type" placeholder="规则名称"/>
            </div>
            <button class="btn btn-default m-left-5" @click="query"><i class="fa fa-search"></i>&nbsp;查询
            </button>
            <button v-if="hasPermission('sys:numberrule:save')" class="btn btn-primary" @click="add">
                <i class="fa fa-plus"></i>&nbsp;新增
            </button>
            <button v-if="hasPermission('sys:numberrule:update')" class="btn btn-warning"
                    @click="update">
                <i class="fa fa-trash-o"></i>&nbsp;修改
            </button>
            <button v-if="hasPermission('sys:numberrule:update')" class="btn btn-danger" @click="del">
                <i class="fa fa-trash-o"></i>&nbsp;删除
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="table"></table>
            </div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 control-label">编号类型：</div>
                    <div class="col-sm-10">
                        <select v-model="numberRule.type" placeholder="请选编号类型" class="form-control" style="width: 100%">
                            <option :label="value.value" :value="value.value" v-for="(value,index) in dicts"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">规则名称</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="numberRule.name" placeholder="规则名称"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">前缀</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="numberRule.prefix" placeholder="前缀"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">日期类型</div>
                    <div class="col-sm-10">
                        <select v-model="numberRule.timeType" placeholder="请选日期类型" class="form-control" style="width: 100%">
                            <option label="yyyyMMddHHmmss" value="yyyyMMddHHmmss"></option>
                            <option label="yyyyMMddHHmm" value="yyyyMMddHHmm"></option>
                            <option label="yyyyMMddHH" value="yyyyMMddHH"></option>
                            <option label="yyyyMMdd" value="yyyyMMdd"></option>
                            <option label="yyyyMM" value="yyyyMM"></option>
                            <option label="yyyy" value="yyyy"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">流水长度</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="numberRule.length" placeholder="流水长度"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">示例</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="numberRule.sample" placeholder="示例" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">状态</div>
                    <div class="col-sm-10">
                        <select v-model="numberRule.status" placeholder="请选状态" class="form-control">
                            <option label="开启" value="1"></option>
                            <option label="关闭" value="0"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                    &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/uiv.min.js"></script>
<!--bootstrap-table-->
<script src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!--bootstrap-validator-->
<script src="../../plugins/bootstrap-validator/js/bootstrap-validator.min.js"></script>
<script src="../../plugins/bootstrap-validator/js/zh_CN.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../messages/zh.js"></script>
<script src="../../messages/en.js"></script>
<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
<script src="../../js/common.js"></script>

<script src="../../js/modules/sys/numberrule.js"></script>
</body>
</html>