<!DOCTYPE html>
<html>
<head>
    <title>商品分类</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-validator/css/bootstrap-validator.min.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">

</head>
<body>
<div id="rrapp" v-cloak class="container-fluid">
    <div v-show="showList">
        <div class="row">
            <div class="col-xs-2">
                <input type="text" class="form-control" v-model="params.name" placeholder="分类名称"/>
            </div>
            <button class="btn btn-default m-left-5" @click="query"><i class="fa fa-search"></i>&nbsp;{{$t('query')}}
            </button>
            <button class="btn btn-primary"
                    @click="add">
                <i class="fa fa-plus"></i>&nbsp;{{$t('added')}}
            </button>
            <button class="btn btn-warning"
                    @click="update">
                <i class="fa fa-edit"></i>&nbsp;{{$t('modify')}}
            </button>
            <button class="btn btn-danger"
                    @click="del">
                <i class="fa fa-trash-o"></i>&nbsp;{{$t('delete')}}
            </button>
            <button class="btn btn-default m-left-5" @click="updateStatus">{{$t('Discontinuation')}}/{{$t('Enable')}}
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="table"></table>
            </div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-body">
            <form class="form-horizontal" onkeydown="if(event.keyCode==13){return false;}">
                <div class="form-group">
                    <div class="col-sm-2 control-label">{{$t('ClassificationName')}}</div>
                    <div class="col-sm-10">
                        <input id="id" v-model="commodityCategory.id" style="display: none;"/>
                        <input type="text" class="form-control" v-model="commodityCategory.name" maxlength="30" name="name" id="name"
                               placeholder="$t('ClassificationName')"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">{{$t('CategoryParent')}}</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="commodityCategory.parentName" name="parentName"
                               @click="categoryTree" readonly="readonly" placeholder="$t('FirstClassClassification')"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">{{$t('Level')}}</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="commodityCategory.level" name="level" readonly="readonly"
                               placeholder="$t('Level')"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">{{$t('status')}}</div>
                    <div class="col-sm-10">
                        <select class="form-control" v-model="commodityCategory.state" name="state">
                            <option value="0">{{$t('Enable')}}</option>
                            <option value="1">{{$t('Discontinuation')}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <input type="button" class="btn btn-primary" @click="validate" value="确定"/>
                    &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 选择菜单 -->
<div id="categoryLayer" style="display: none;padding:10px;">
    <ul id="categoryTree" class="ztree"></ul>
</div>
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<!--bootstrap-table-->
<script src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!--bootstrap-validator-->
<script src="../../plugins/bootstrap-validator/js/bootstrap-validator.min.js"></script>
<script src="../../plugins/bootstrap-validator/js/zh_CN.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>

<script src="../../js/modules/commodity/commoditycategory_sys.js"></script>
</body>
</html>