<!DOCTYPE html>
<html>
<head>
    <title>采购收货</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-validator/css/bootstrap-validator.min.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-select/css/bootstrap-select.min.css">

</head>
<body>
<div id="rrapp" v-cloak class="content-wrapper wzl-content-wrapper container-fluid">
    <section class="content-header">
        <h1>
            采购收货 &nbsp;<small v-if="title!=''">{{title}}</small>
        </h1>
        <ol class="breadcrumb">
            <li v-if="title==null"><a href="#" @click="reload">刷新</a></li>
            <li v-if="title=='修改'"><a href="#" @click="reload">返回</a></li>
            <li v-if="title=='新增'"><a href="#" @click="reload">返回</a></li>
            <li v-if="title=='详情'"><a href="#" @click="reload">返回</a></li>
        </ol>
    </section>
    <div v-show="showList">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="panel-heading">
                                <span class="panel-title">数据列表</span>
                            </div>
                            <div id="collapseOpera" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" v-model="params.purchaseReceiveNo" placeholder="请输入采购收货单号"/>
                                    </div>
                                    <button class="btn btn-default m-left-5" @click="query"><i class="fa fa-search"></i>&nbsp;查询
                                    </button>
                                    <span class="panel-title pull-right">
                                    <button v-if="hasPermission('purchase:purchasereceive:save')" class="btn btn-primary"
                                            @click="add">
                                        <i class="fa fa-plus"></i>&nbsp;新增
                                    </button>
                                    <button v-if="hasPermission('purchase:purchasereceive:update')" class="btn btn-warning"
                                            @click="update">
                                        <i class="fa fa-edit"></i>&nbsp;修改
                                    </button>
                                    <button v-if="hasPermission('purchase:purchasereceive:delete')" class="btn btn-danger"
                                            @click="del">
                                        <i class="fa fa-trash-o"></i>&nbsp;删除
                                    </button>
                                    </span>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="table" class="table text-nowrap"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--增加或者修改的页面 start-->
    <div v-show="!showList" class="panel panel-default" style="margin-top: 20px;">
        <div class="panel-heading">
            <span class="panel-title">采购收货信息</span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="need_form" method="post" action=""
                  enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">采购订单号</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.purchaseApplyNo"
                                   placeholder="自动生成" readonly/>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">应到日期</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.planDate"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">收货日期</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.receiveDate"/>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">采购收货单号</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" name="purchaseReceiveNo" class="form-control"-->
                                   <!--v-model="purchaseReceive.purchaseReceiveNo" placeholder="采购收货单号"/>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">供应商</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.supplyId"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">联系人</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.contact"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">联系电话</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.contactPhone"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">收货人</div>
                        </div>
                        <div class="col-lg-8">
                            <!--<input type="text" class="form-control" v-model="purchaseReceive.buyerId"/>-->
                            <vm-select :options="userList" class="form-control" :search="true"
                                       name="buyerUser" data-bv-notempty data-bv-notempty-message="请选择收货人"
                                       v-model="purchaseReceive.buyerId" ref="select" title="请选择收货人"
                                       @input="userChanage"></vm-select>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">暂存仓库</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.temporaryStorage"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 row">
                        <div class="col-lg-4 ">
                            <div class="control-label">订单金额</div>
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" v-model="purchaseReceive.purchaseAmount"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <span class="panel-title">采购收货明细</span>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" @click=""><i class="fa fa-trash-o"></i>&nbsp;删除
                </button>
                <table id="commodityTab" class="table">

                </table>
            </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <input type="button" class="btn btn-primary" v-if="isbackshow"@click="validate" value="确定"/>
                        &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                    </div>
                </div>

        </div>
    </div>
</div>

<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/uiv.min.js"></script>
<!--bootstrap-table-->
<script src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!--bootstrap-validator-->
<script src="../../plugins/bootstrap-validator/js/bootstrap-validator.min.js"></script>
<script src="../../plugins/bootstrap-validator/js/zh_CN.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="../../plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>

<script src="../../js/common.js"></script>
<script src="../../js/components.js"></script>

<script src="../../js/modules/purchase/purchasereceive.js"></script>
</body>
</html>